<div class="container">
    <h3>Bienvenido, para comenzar, por favor ir al modulo de <a href="/clientes">Cliente</a> y agrege un cliente!</h3>
    <img src="assets/img/CRM.jpg" class="rounded mx-auto d-block" alt="crm">
</div>
