<div class="alert alert-primary" role="alert" *ngIf="mostrarMensaje">
  {{mensaje}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="mostrarError">
  {{mensaje}}
</div>
<br *ngIf="mostrarError || mostrarMensaje">
<h4>Agregar cliente </h4>
<hr>
<br>
<form autocomplete="off" (ngSubmit)="guardarCliente(cliente)" #cliente="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Tipo documento</label>
      <div class="col-8">

        <div class="col-8">
          <select class="form-control"
                  ngModel
                  #tipodocumento="ngModel"
                  name="tipodocumento">
              <option value="">--Seleccione una opción--</option>
              <option  value="c">
                  c
              </option>
              <option  value="e">
                  e
              </option>
              <option  value="ti">
                  ti
              </option>
          </select>
      </div>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Número documento</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Número documento"
                 [class.is-invalid]="documento.invalid && documento.touched"
                 ngModel
                 name="documento"
                 required 
                 #documento="ngModel">
        </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               ngModel
               name="nombre"
               required
               #nombre="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               ngModel
               name="apellido"
               required
               #apellido="ngModel">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [class.is-invalid]="correo.invalid && correo.touched"
             ngModel
             name="correo"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             required
             #correo="ngModel">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Celular</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             placeholder="Celular"
             [class.is-invalid]="celular.invalid && celular.touched"
             ngModel
             name="celular"
             required
             #celular="ngModel">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
  <br/>
  <br/>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Tipo doc</th>
        <th scope="col">Núm documento</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaClientes">
        <th scope="row">{{cliente.tipoDocumento}}</th>
        <td>{{cliente.numeroDocumento}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
      </tr>
      
    </tbody>
  </table>

</form>
