<!--<p>Me da amsiedad los resultados!</p>
<img src="assets/img/cheems.jpeg" class="img-fluid" alt="cheems">-->
<h4>Consultar cliente </h4>
<hr>
<br>
<form (ngSubmit)="consultarCliente(consultarCli)" #consultarCli="ngForm">
    <div class="form-group row">
        <label class="col-2 col-form-label">tipo documento</label>
        <div class="col-8">
            <select class="form-control"
                    ngModel
                    #tipodocumento="ngModel"
                    name="tipodocumento">
                <option value="">--Seleccione una opción--</option>
                <option *ngFor="let tipoDoc of listaTipoDoc" [ngValue]="tipoDoc">
                    {{tipoDoc}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Número documento</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Número documento"
                 [class.is-invalid]="documento.invalid && documento.touched"
                 ngModel
                 name="documento"
                 required 
                 #documento="ngModel">
        </div>
    </div>
    <button type="submit" class="btn btn-danger btn-block">Consultar</button>
    
</form>
<br/>
<div *ngIf="mostrarResultado">
    <h3>Cliente:</h3>
    <div class="form-group row">
      <label class="col-2 col-form-label">Tipo documento</label>
      <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.tipoDocumento">
      </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Número documento</label>
        <div class="col-8">
  
          <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.numeroDocumento">
        </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               [readonly]="true"
               [value]="clienteResultado.nombre">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.apellido">
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.correo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Celular</label>
        <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.celular">
        </div>
    </div>
</div>
<br>
<div *ngIf="mostrarGestion">
<h3>Gestiones:</h3>
    <br>
    <table class="table" >
        <thead class="thead-dark">
        <tr>
            <th scope="col">Estado</th>
            <th scope="col">Comentario</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let gestion of listaGestion">
            <td>{{gestion.estado}}</td>
            <td>{{gestion.comentario}}</td>
        </tr>
        
        </tbody>
    </table>
</div>