<div class="alert alert-primary" role="alert" *ngIf="mostrarMensaje">
  {{mensaje}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="mostrarError">
  {{mensaje}}
</div>
<br *ngIf="mostrarError || mostrarMensaje">
<h4>Generar gestión </h4>
<hr>
<br>
<form (ngSubmit)="consultarCliente(consultaCli)" #consultaCli="ngForm">
    <div class="form-group row">
        <label class="col-2 col-form-label">Tipo documento</label>
        <div class="col-8">
            <select class="form-control"
                    ngModel
                    #tipodocumento="ngModel"
                    name="tipodocumento">
                <option value="">--Seleccione una opción--</option>
                <option *ngFor="let tipoDoc of listaTipoDoc" [ngValue]="tipoDoc">
                    {{tipoDoc}}
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Número documento</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Número documento"
                 [class.is-invalid]="documento.invalid && documento.touched"
                 ngModel
                 name="documento"
                 required 
                 #documento="ngModel">
        </div>
    </div>
    <button type="submit" class="btn btn-danger btn-block">Consultar</button>
    
</form>
<br/>
<div *ngIf="mostrarResultado">

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               [readonly]="true"
               [value]="clienteResultado.nombre">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.apellido">
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.correo">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Celular</label>
        <div class="col-8">

        <input class="form-control"
                [readonly]="true"
                [value]="clienteResultado.celular">
        </div>
    </div>

<form (ngSubmit)="crearGestion(gestion)" #gestion="ngForm">
    <div class="form-group row">
        <label class="col-2 col-form-label">Estado</label>
        <div class="col-8">
            <select class="form-control"
                    ngModel
                    #estado="ngModel"
                    name="estado">
                <option value="">--Seleccione una opción--</option>
                <option  value="contactado">
                    contactado
                </option>
                <option  value="en negociacion">
                    en negociacion
                </option>
                <option  value="firmado">
                    firmado
                </option>
                <option  value="no contactado">
                    no contactado
                </option>
                <option  value="no establecido">
                    no establecido
                </option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Comentario</label>
        <div class="col-8">
  
          <input class="form-control"
                 type="text"
                 placeholder="Comentario"
                 [class.is-invalid]="comentario.invalid && comentario.touched"
                 ngModel
                 name="comentario"
                 required 
                 #comentario="ngModel">
        </div>
    </div>
    <button type="submit" class="btn btn-danger btn-block">Crear gestion</button>
    
</form>
<br>
</div>