<div class="container">
  <img src="assets/img/crm-banner.jpg" class="rounded mx-auto d-block" alt="banner">
  <br>
  <nav class="nav grey lighten-4 py-4">
    <a class="nav-link active" href="clientes">Clientes</a>
    <a class="nav-link" href="gestion">Gestionar cliente</a>
    <a class="nav-link" href="resultado">Consultar cliente</a>
  </nav>
  <router-outlet></router-outlet>
</div>
